*::selection {
    color: deepskyblue;
}

body {
    background-color: bisque;
    text-align: center;
    text-decoration: solid;
}

h1 {
    color: brown;
}

.statue {
    display: block;
    margin: auto;
    margin-top: 1cm;
    width: 7cm;
}

ul {
    text-align: left;
    margin-left: 29%;
}

h1 {
    font-size: 36px;
}

input:hover {
    background-color: lavenderblush;
}

ul {
    list-style: none;
    /* list-style: url(); */
}

ul li::marker {
    content: url('../images/Moon.svg');
}