*::selection {
    color: deepskyblue;
}

* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    text-align: center;
    text-decoration: solid;
    font-family: fantasy;
    color: midnightblue;
    margin: 0;
}

h1,
h2 {
    color: brown;
}

h2 {
    margin-top: 40px;
}

h2:hover {
    transform: translateX(-20px);
    transition: transform 1s;
    transition-timing-function: ease-in;
}

h1:hover {
    transform: scale(1.3);
    transition: transform 1s;
}

nav ul {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: 1px;
    /* transform: rotate(2deg); */
}

nav {
    border-bottom: 0.5px;
    border-color: darkgray;
    border-bottom-style: groove;
}

nav a:hover {
    background-color: beige;
    transition: background-color 1s;
}

form {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

form input,
button {
    padding: 13px;
    margin: 10px;
}

nav a {
    text-decoration: none;
    margin: 50px;
    border: 1px solid cornflowerblue;
    padding: 15px;
    background-color: rgb(203, 130, 235);
    color: rgb(43, 40, 231);
}

input {
    border-radius: 40%;
}

#heroButton {
    background-color: blue;
    color: aliceblue;
    border-radius: 20%;
    padding: auto;
}

#heroButton:hover {
    background-color: cornflowerblue;
    transition: all 1s;
    border-radius: 42%;
}

.statue {
    display: block;
    margin: auto;
    margin-top: 1cm;
    filter: drop-shadow(3px 3px 10px #5f13b4);
}

.statue:hover {
    transform: rotate(5deg);
    transition: all 1s;
}

ul {
    text-align: left;
    margin-left: 29%;
}

h1 {
    font-size: 36px;
}



input:focus {
    background-color: lavenderblush;
    transition: all 1s;
}

ul {
    list-style: none;
    /* list-style: url(); */
}

.sectionList ul li::marker {
    content: url('../images/Moon.svg');
}

.MainText {
    padding: 10px 20px;
}

.MainText:hover {
    border: 2px solid rgb(209, 231, 109);
    transition: border 0.4s;

}

footer div {
    height: 40px;
    background-color: aquamarine;
    margin: 40px 0 0 0;

}